
button--container{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

button{
  display: flex;
  grid-column: 1 / -1;
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  color: white;
  border: none;
  cursor: pointer;
  width: 500px;
  height: 30px;
}
button--container img{
width: 100%;
} 